# These are the default settings. Copy this file to `host_vars/myserver` then in that file set the values to match your setup.

### REQUIRED ###
# These values are REQUIRED for HomelabOS to work.

# SSH accessible IP address
homelab_ip: {{ homelab_ip }}

# User name used to connect via ssh. Must have passwordless sudo.
homelab_ssh_user: {{ homelab_ssh_user }}

# SUDO password
ansible_become_password: {{ ansible_become_password | default() }}

# Default user name to create as admin with services
default_username: {{ default_username }}

# Default password to go with the default user
default_password: {{ default_password }}

# Default storage location for media (These are used as local directories or NAS mount points depending on configuration)
storage_dir: {{ storage_dir | default('/mnt/homelabos/media') }}

# Minio access keys
minio_access_key: {{ minio_access_key | default() }}
minio_secret_access_key: {{ minio_secret_access_key | default() }}

# Default Ubuntu release name to follow. Valid examples include: bionic, cosmic, disco
ubuntu_release: {{ ubuntu_release | default('bionic') }}

# This configuration dictionary sets various details of your bastion host.
# see the docs for more information about what a bastion host is and how
# the HomelabOS bastion host works.
bastion:
  # should HomelabOS utilize a bastion server?
  enabled: {{ bastion.enabled | default(False) }}
  # Bastion host main ethernet interface name
  interface: {{ bastion.interface | default("eth0") }}
  # must provide passwordless sudo
  server_ssh_user: {{ bastion.server_ssh_user | default('root') }}
  # Can be an IP or a hostname
  server_address: {{ bastion.server_address | default(False) }}
  wireguard:
    bastion_vpn_address: {{ bastion.wireguard.bastion_vpn_address | default("10.0.1.1") }}
    homelab_vpn_address: {{ bastion.wireguard.home_vpn_address | default("10.0.1.2") }}
    netmask: {{ bastion.wireguard.netmask | default("/24") }}
    port: {{ bastion.wireguard.port | default("51820") }}
    keepalive: {{ bastion.wireguard.keepalive | default("25") }}
  ports_to_forward:
    2222: 22
    80: 80
    443: 443
    25: 25
    143: 143
    587: 587
    998: 998
    4190: 4190
  # MIGRATION v0.7
  # Should HomelabOS reset the bastion server IP tables rules?
  # Enable this if you are upgrading a Tinc bastion host
  reset_iptables: {{ bastion.reset_iptables | default(False) }}
  # END MIGRATION


# Timezone of the server
common_timezone: {{ common_timezone | default('Etc/UTC') }}

# Domain that will be used to point at the server
# Must have a DNS A record of `*.yourserver.com` pointing at your server's IP.
domain: {{ domain | default('localhost') }}

# An email that is accessible outside of HomelabOS that you can receive system alerts and notices at.
# Necessary for SSL / LetsEncrypt to work.
admin_email: {{ admin_email | default('test@test.com') }}

ansible_port: {{ ansible_port | default(22) }}

# Servers

aws:
  secret_key:
  access_key:
  region:

do_access_token: {{ do_access_token | default(False) }}
region: {{ region | default('nyc1') }}

# Features

# You can enable/disable different HomelabOS features here by changing False to True and vice versa.

enable_tor: {{ enable_tor | default(False) }}

# Force SSL Usage
# Only set this to true after everything is working, and https certificates have been generated.
https_only: {{ https_only | default(False) }}

# Services

# Enable HomelabOS documentation

enable_docs: {{ enable_docs | default(False) }}
#== PARSE ###
# You can enable/disable services individually by changing False to True and vice versa.
enable_apache2: {{ enable_apache2 | default(False) }}
enable_apple_health_influx: {{ enable_apple_health_influx | default(False) }}
enable_airsonic: {{ enable_airsonic | default(False) }}
enable_authelia: {{ enable_authelia | default(False) }}
enable_bitwarden: {{ enable_bitwarden | default(False) }}
enable_beets: {{ enable_beets | default(False) }}
enable_bookstack: {{ enable_bookstack | default(False) }}
enable_bulletnotes: {{ enable_bulletnotes | default(False) }}
enable_calibre: {{ enable_calibre | default(False) }}
enable_codeserver: {{ enable_codeserver | default(False) }}
enable_darksky_influx: {{ enable_darksky_influx | default(False) }}
enable_dasher: {{ enable_dasher | default(False) }}
enable_digikam: {{ enable_digikam | default(False) }}
enable_drone: {{ enable_drone | default(False) }}
enable_duplicati: {{ enable_duplicati | default(False) }}
enable_emby: {{ enable_emby | default(False) }}
enable_firefly_iii: {{ enable_firefly_iii | default(False) }}
enable_freshrss: {{ enable_freshrss | default(False) }}
enable_ghost: {{ enable_ghost | default(False) }}
enable_gitea: {{ enable_gitea | default(False) }}
enable_grafana: {{ enable_grafana | default(False) }}
enable_guacamole: {{ enable_guacamole | default(False) }}
enable_healthchecks: {{ enable_healthchecks | default(False) }}
enable_homeassistant: {{ enable_homeassistant | default(False) }}
enable_homebridge: {{ enable_homebridge | default(False) }}
enable_homedash: {{ enable_homedash | default(False) }}
enable_inventario: {{ enable_inventario | default(False) }}
enable_jackett: {{ enable_jackett | default(False) }}
enable_jellyfin: {{ enable_jellyfin | default(False) }}
enable_kibitzr: {{ enable_kibitzr | default(False) }}
enable_lidarr: {{ enable_lidarr | default(False) }}
enable_mailserver: {{ enable_mailserver | default(False) }}
enable_mashio: {{ enable_mashio | default(False) }}
enable_matomo: {{ enable_matomo | default(False) }}
enable_mayan: {{ enable_mayan | default(False) }}
enable_miniflux: {{ enable_miniflux | default(False) }}
enable_minio: {{ enable_minio | default(False) }}
enable_monicahq: {{ enable_monicahq | default(False) }}
enable_mstream: {{ enable_mstream | default(False) }}
enable_mylar: {{ enable_mylar | default(False) }}
enable_netdata: {{ enable_netdata | default(False) }}
enable_nextcloud: {{ enable_nextcloud | default(False) }}
enable_nzbget: {{ enable_nzbget | default(False) }}
enable_ombi: {{ enable_ombi | default(False) }}
enable_openldap: {{ enable_openldap | default(False) }}
enable_openvpn: {{ enable_openvpn | default(False) }}
enable_organizr: {{ enable_organizr | default(True) }}
enable_ownphotos: {{ enable_ownphotos | default(False) }}
enable_paperless: {{ enable_paperless | default(False) }}
enable_pihole: {{ enable_pihole | default(False) }}
enable_piwigo: {{ enable_piwigo | default(False) }}
enable_pixelfed: {{ enable_pixelfed | default(False) }}
enable_plex: {{ enable_plex | default(False) }} # Set Plex Claim Token below
enable_poli: {{ enable_poli | default(False) }}
enable_portainer: {{ enable_portainer | default(False) }}
enable_sickchill: {{ enable_sickchill | default(False) }}
enable_sonarr: {{ enable_sonarr | default(False) }}
enable_radarr: {{ enable_radarr | default(False) }}
enable_restic: {{ enable_restic | default(False) }}
enable_speedtest: {{ enable_speedtest | default(False) }}
enable_syncthing: {{ enable_syncthing | default(False) }}
enable_tautulli: {{ enable_tautulli | default(False) }}
enable_thelounge: {{ enable_thelounge | default(False) }}
enable_tick: {{ enable_tick | default(False) }}
enable_transmission: {{ enable_transmission | default(False) }}
enable_trilium: {{ enable_trilium | default(False) }}
enable_ubooquity: {{ enable_ubooquity | default(False) }}
enable_wekan: {{ enable_wekan | default(False) }}
enable_watchtower: {{ enable_watchtower | default(False) }}
enable_xfinityusageinfluxdb: {{ enable_xfinityusageinfluxdb | default(False) }}
enable_wallabag: {{ enable_wallabag | default(False) }}
enable_webvirtmgr: {{ enable_webvirtmgr | default(False) }}
enable_zulip: {{ enable_zulip | default(False) }}

# After claiming your token at https://www.plex.tv/claim/ you will only have four minutes to run make and deploy plexinc
plex_claim: {{ plex_claim | default('CHANGE_TO_GIVEN_TOKEN') }}

### END REQUIRED ###

### OPTIONAL ### These valuse are OPTIONAL and enable extra HomelabOS functionality.

# Your DarkSky API Key. Get one at http://darksky.net/dev
darksky_key: {{ darksky_key | default() }}

# Your location
latitude: {{ latitude | default() }}
longitude: {{ longitude | default() }}

# VPN For Transmission to use for Downloads
openvpn_provider: {{ openvpn_provider | default() }}
openvpn_username: {{ openvpn_username | default() }}
openvpn_password: {{ openvpn_password | default() }}
openvpn_config: {{ openvpn_config | default() }}

# NAS Config (Docs: https://nickbusey.gitlab.io/HomelabOS/setup/installation/#nas-network-attached-storage-configuration)
nas_enable: {{ nas_enable | default(False) }}
nas_host: {{ nas_host | default() }}
nas_mount_type: {{ nas_mount_type | default() }}
nas_share_path: {{ nas_share_path | default() }}
nas_user: {{ nas_user | default(default_username) }}
nas_pass: {{ nas_pass | default() }}
nas_workgroup: {{ nas_workgroup | default() }}

# Mapbox Api keys: Used for OwnPhotos
mapbox_api_key: {{ mapbox_api_key | default() }}

# Restic S3 Backup Server Information name: Docs: https://nickbusey.gitlab.io/HomelabOS/setup/backups/
s3_access_key: {{ s3_access_key | default() }}
s3_secret_key: {{ s3_secret_key | default() }}
s3_backup_password: {{ s3_backup_password | default() }}

# Example: 0 4 * * *
# Backup every day at 4:00 AM
s3_backup_cron: {{ s3_backup_cron | default() }}
s3_path: {{ s3_path | default() }}

# Home Assitant API Key
homeassistant_api_key: {{ homeassistant_api_key | default() }}

# Apple Health Data Importer name: Docs: https://nickbusey.gitlab.io/HomelabOS/software/applehealth/
apple_health_nextcloud_username: {{ apple_health_nextcloud_username | default()  }}

# Xfinity Data Usage Settings
xfinity_user: {{ xfinity_user | default()  }}
xfinity_password: {{ xfinity_password | default()  }}

# SMTP Settings
smtp:
  host: {{ smtp.host | default()  }}
  port: {{ smtp.port | default()  }}
  user: {{ smtp.user | default()  }}
  pass: {{ smtp.pass | default()  }}
  from_email: {{ smtp.from_email | default()  }}
  from_name: {{ smtp.from_name | default()  }}

mailserver:
  forward_to_smtp: {{ mailserver.forward_to_smtp | default(False)  }}

traefik:
  expose_internally: {{ traefik.expose_internally | default(True)  }}
  expose_externally: {{ traefik.expose_externally | default(False)  }}
  dns_challenge_provider: {{ traefik.dns_challenge_provider | default(False) }}
# Extra mapping, for name -> internal address, like myservice: 'http://otherhost:12345'
  extra_mapping:
#   myservice: http://otherhost:12345
{% if traefik.extra_mapping | default(False) %}
{% for service_name in traefik.extra_mapping %}
    {{ service_name }}: {{ traefik.extra_mapping[service_name] }}
{% endfor %}
{% endif %}
# use key:value pairs here to add additional environment variables to your traefik docker image.
# for instance, if you're using a dns challenge provider place your api keys etc here.
  additional_env_vars:
    # DUMMY_KEY: DUMMY_VALUE
    CLOUDFLARE_EMAIL: {{ traefik.additional_env_vars.CLOUDFLARE_EMAIL | default('EMAIL') }}
    CLOUDFLARE_API_KEY: {{ traefik.additional_env_vars.CLOUDFLARE_API_KEY | default('API_KEY') }}

gitea:
  use_mariadb: {{ gitea.use_mariadb | default(True) }}
  gitea_ssh_port: {{ gitea.gitea_ssh_port | default(222) }}

apache2_subdomain: {{ apache2_subdomain | default('apache2') }}

# Authelia Settings
authelia:
  # Determines how verbose the logs are
  log_level: {{ authelia.log_level | default('debug') }}
  # Do you want to login with your common name "john doe" or your username "jdoe"?
  # defaults to Username
  use_username: {{ authelia.use_username | default(True) }}
  # This must be an address you can recieve mail at!
  default_user_email: {{authelia.default_user_email | default() }}
  max:
    # max # of retries to authenticate (default 5)
    retries: {{ authelia.max.retries | default(5) }}
    # max time before the retry count resets (default 2 min)
    retries_in_time: {{ authelia.max.retries_in_time | default(120) }}
    # if you exceed the max retry count within the time frame, you're banned
    # for x seconds. (default 300 seconds /5 min)
    retries_ban_time: {{ authelia.max.retries_ban_time | default(300) }}
  default:
    # the number of authentication factors required by default
    factor_count: {{ authelia.default.factor_count | default('one_factor') }}
    # how long it takes for the cookie to expire (default, 1hr)
    cookie_expiration: {{ authelia.default.cookie_expiration | default(3600000) }}
    # inactivity time for the cookie default (5m)
    cookie_inactivity: {{ authelia.default.cookie_inactivity | default(300000) }} # 5min
    # default policy - deny by default
    policy: {{ authelia.default.policy | default('deny') }}
  duo:
    hostname: {{ authelia.duo.hostname | default() }}
    integration_key: {{ authelia.duo.integration_key | default() }}
    secret_key: {{ authelia.duo.secret_key | default() }}
  # Don't change these unless you know what you're doing

speedtest:
  server: {{ speedtest.server | default (11441) }}
